{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css"/>
{% endblock head %}

{% block content %}

<div class="page-header">
  <h1>Add an Emu</h1>
  <img src="{% static 'images/glasses-emu.png' %}" alt="">
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit</button>
</form>

{% endblock content %}