{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/emus/emu-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="cat-container">
  <div class="cat-img">
    <img 
      src="{% static 'images/skater-emu.png' %}" 
      alt="A skater boy emu"
    >
  </div>
  <div class="cat-details">
    <h1>{{ emu.name }}</h1>
    {% if emu.age > 0 %}
      <h2>A {{ emu.age }} year old emu</h2>
    {% else %}
      <h2>A baby emu.</h2>
    {% endif %}
    <h4>{{ emu.attitude }}</h4>
    <p>{{ emu.description }}</p>
    <div class='cat-actions'>
      <a href="{% url 'emu-update' emu.id %}" class="btn warn">Edit</a>
      <a href="{% url 'emu-delete' emu.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}